<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleName</key>
    <string>VILLEN Music</string>
    <key>CFBundleExecutable</key>
    <string>villen-music</string>
    <key>CFBundleIdentifier</key>
    <string>com.villen.music</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
</dict>
</plist>
